<table class="table schooltable">
    <tr>
        <td width="50%"><h3>Information of {{school.name}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>School Name</td>
        <td>{{school.name}}</td>
    </tr>
    <tr>
        <td>School Code</td>
        <td>{{school.code}}</td>
    </tr>
    <tr>
        <td>School Address</td>
        <td>{{school.address}}</td>
    </tr>
    <tr>
        <td>School Email Domain</td>
        <td>{{school.emailDomain}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editSchool({id:school.id})">Edit</a>
</div>